body, h1, h2, h3, h4, h5, h6, p, ul, nav, div, img, a {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: Next,sans-serif;

    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    /* padding: 1rem; */
    direction: rtl;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    overflow-x: clip;
    
}


.logo img {
    max-height: 50px; 
    order:2 ;
    margin: left 5%;
    margin-right: 5rem;
}

.navbar-right {
    order: 2; 
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center; 
    gap: 4.5rem; 
    
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    width: 99vw;
    
    /* border: solid black; */
    
    

}
.img-back{
    
    background-image: url(aboutheader.png);
    
   height: 70vh;
    width: 100vw; 
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    overflow-x: clip;
    z-index: -1;      
    
}
.img-back:hover .navbar {
    background-color: rgba(255, 255, 255, 0.8); 
}
.content-section {
    padding: 20px; 
    margin-top: 8em;
}

.who {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 6rem;
}

.who h2, .who p {
    text-align: right;  
}
.who h2{
    color: #4e3797;
    font-size: 4.5em;
    margin-top: 0em;
}
.who p{
    font-size: 2em;
    
}
.image3{
    display: flex;
    flex-direction: row; 
    column-gap: 20rem;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    flex-direction: row-reverse;
 
}

.photo img {
    max-width: 100%; 
    height: auto;    
}
.image-container {
    text-align: center; 
 
}
.image-container h2 {
    margin-top: 10px; 
   
}
.image-container h4 {
    margin-bottom: 10rem;    

}
h2{
    color: #4e3797;
}




.image-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 3em; 
}

.what img {
    max-width: 100%; 
    height: auto;    
    
}

.imge {
    text-align: center; 

}

.imge h3 {
    margin-top: 10px; 
}

h2 {
    color: #4e3797;
    text-align: center; 
    margin-top: 2em; 
}

.what{
    background-color: rgb(245 246 250);
    padding: 6rem;
    padding-top: 2rem;

}



.image-global {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 3em; 
}

.global img {
    width: 3vw;
    max-width: 100%; 
    height: auto;    
}

.win {
    text-align: center; 
    flex: 1; 
}

.win h2 {
    margin-top: 10px; 
    color: black;
}

.win h4 {
    margin-bottom: 10px; 
    color: #000000bd;
    margin-top: 15px;
}

.text {
    color: #4e3797;
    text-align: center;
 
}

.address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 4em;
}
.address-info {
    max-width: 50%;
    margin-left: 20px;
    text-align: right;
    margin-top: 2em;
    margin-right: 4em;
}
.map img {
    width: 61%;
    height: 80%;
    margin-right: 18em;
    border: 1px solid #ccc;
    border-radius: 3em;
    
}
.a h2, .add p {
    text-align: right; 
  
}


.footer {
    background-color: #4e3797;
    color: white;
    padding: 20px;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse wrap;
}
.footer-logo {
    margin-right: 20px;
}
.footer-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}
.footer-text p {
    margin: 5px 0;
    
}
.footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}
.footer-social {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
    row-gap: 1rem;
    height: 16rem;
    margin-top: 12rem;
}
.footer-social img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.footer-note {
    font-size: 12px;
    margin-right: 20px;
}
.footer-end-logo {
    margin-right: 20px;
}
 .footer-social-media {
    display: flex;
    align-items: center;
    margin-right: 20px;
 }

  .copyright {
    text-align: center;
    margin-top: -6rem;
    margin-left: 5rem; 
    color: white;
  }

  .sidelogos {
    flex-flow: row wrap;
    margin-left: 5rem;
    display: flex;
    column-gap: 2rem;
  }

  a {
    text-decoration: none;

  }