*{
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, nav, div, img, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 1rem;
    direction: rtl; 
}

.logo img {
    max-height: 50px; 
    order:2 ;
    margin: left 5%;
}

.navbar-right {
    order: 2; 
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center; 
    gap: 4.5rem; 
    
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/*.sidelogos a{
    color: black;
}*/


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    position: relative;
    overflow: hidden;
    background-color: black; /* لون احتياطي في حالة عدم تحميل الفيديو */
    background-size: cover;
}

.video-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

.video-back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    text-align: center;
    color: white; 
    z-index: 1; 
}

.text-line {
    font-size: 8.5rem; 
    margin: 10px 0;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    background-color: #28a745; 
    color: white; 
    border: none;
    padding: 10px 60px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8rem;
}

body {
    font-family: Arial, sans-serif;
    direction: rtl; 
    background-color: #f4f4f4;
    text-align: center;
    direction: rtl;
}

/* تنسيق القسم */

section {
    background-color: #f2f4f7;
    padding: 20px; 
   
}

.program{
    color: #4e3797;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 1em;
    font-size: 2em;
   
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* تنسيق البطاقة */

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px;
    text-align: right; 
    margin-top: 10em; 
    border-right: 10px solid #c084fc;
    justify-content: space-between;

}

.cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;

}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #c084fc;
}

.card p {
    color: #666;
    margin: 10px 0;
}


.icon-container {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: flex;
    justify-content: space-between;
}

.icon-text {
    display: flex;
   /* align-items: center;*/
    margin: 5px 0;
}

.icon-text img {
    width: 20px;
    height: 20px;
    margin-left: 10px; 
}

.icon-text span {
    color: #333;
    
    
}

.details-button {
    background-color: white;
    color: #c084fc;
    border: 2px solid #c084fc;
    border-radius: 6em;
    padding: 3px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em; 
    margin-right: 12em;
    display: inline-block;
    bottom: 20px;
    left: 20px;
}

.details-button:hover {
    background-color: #91d8db;
    color: white;
}


/*الكارد الثاني */
.card2 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px;
    text-align: right; 
    margin-top: 10em; 
    border-right: 10px solid #91d8db;
    

}

.card2 h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #91d8db;
}

.card2 p {
    color: #666;
    margin: 10px 0;
}


.icon-container {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: flex;
    justify-content: space-between;
}

.icon-text2 {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon-text2 img {
    width: 20px;
    height: 20px;
    margin-left: 10px; 
}

.icon-text2 span {
    color: #333;
    
}


.details-button2 {
    background-color: white;
    color: #91d8db;
    border: 2px solid  #91d8db;
    border-radius: 6em;
    padding: 5px 8px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em; 
    margin-right: 12em;
    display: inline-block;
    bottom: 20px;
    left: 20px;
}

.details-button2:hover {
    background-color: #91d8db;
    color: white;
}

.section button{
    color:#4e3797 ;
    border: 4px solid #4e3797;
    padding: 5px 8px ;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20em;
    
}

/*hear*/






/*الجزء الاخير */

.partners-section {
    background-color: #f1f3f6;
    padding: 20px;
    text-align: center;
}

.partners-section h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #4e3797;
}

.partners-images {
    display: flex;
    justify-content:center;
    gap: 4em;
}



.partners-images img {
    max-width: 100px;
    height: auto;
    
}


.newsletter-section {
    background-color: #5bbec2;
    padding: 20px;
    text-align: center;
}

.newsletter-section h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter-form input {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.newsletter-form button {
    background-color: #4e3797;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1em;
}


.footer {
    background-color: #4e3797;
    color: white;
    padding: 20px;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
   
    
}
.footer-logo {
    margin-right: 20px;
}
.footer-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}
.footer-text p {
    margin: 5px 0;
    
}
.footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}
.footer-social {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
    row-gap: 1rem;
    height: 16rem;
    margin-top: 12rem;
}
.footer-social img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.footer-note {
    font-size: 12px;
    margin-right: 20px;
}
.footer-end-logo {
    margin-right: 20px;
}
 .footer-social-media {
    display: flex;
    align-items: center;
    margin-right: 20px;
 }

  .copyright {
    text-align: center;
    margin-top: -6rem;
    margin-left: 5rem; 
    color: white;
  }

  .sidelogos {
    flex-flow: row wrap;
    margin-left: 5rem;
    display: flex;
    column-gap: 2rem;
  }

  a {
    text-decoration: none;

  }
